<ol class="events">
  <% events.each do |event| %>
    <li<%= " data-lat=\"#{event.lat}\" data-lng=\"#{event.lng}\"".html_safe if event.coords %>>
      <%= link_to event.display_name, event %>
      <% if event.start.present? %>
        <small><%= relative_time event %></small>
      <% end %>
    </li>
  <% end %>
</ol>